{% extends "base.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ usuarios }}<sup style="font-size: 20px"></sup></h3>
                    <p>Usuarios</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="{% url 'ProsPy:UsuarioLista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ organismo }}</h3>
                    <p>Organismos</p>
                </div>
                <div class="icon">
                    <i class="fa fa-bug"></i>
                </div>
                <a href="{% url 'ProsPy:Organismolista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ tiporeact }}</h3>
                    <p>Tipo de Reactor</p>
                </div>
                <div class="icon">
                    <i class="fa fa-certificate"></i>
                </div>
                <a href="{% url 'ProsPy:TipoReactorlista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ reactor }}</h3>
                    <p>Reactor</p>
                </div>
                <div class="icon">
                    <i class="fa fa-certificate"></i>
                </div>
                <a href="{% url 'ProsPy:Reactorlista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>


    <script>
        var Tiempo = [];

        {% if fecha %}
            {% for dat in fecha %}
                console.log('{{ dat.last_login|date:'Y-m-d'}}')



            {% endfor %}
        {% endif %}

    </script>



{% endblock %}
 
  