{% extends "base.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ usuarios }}<sup style="font-size: 20px"></sup></h3>
                    <p>Usuarios</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="{% url 'ProsPy:UsuarioLista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ organismo }}</h3>
                    <p>Organismos</p>
                </div>
                <div class="icon">
                    <i class="fa fa-bug"></i>
                </div>
                <a href="{% url 'ProsPy:Organismolista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ tiporeact }}</h3>
                    <p>Tipo de Reactor</p>
                </div>
                <div class="icon">
                    <i class="fa fa-certificate"></i>
                </div>
                <a href="{% url 'ProsPy:TipoReactorlista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ reactor }}</h3>
                    <p>Reactor</p>
                </div>
                <div class="icon">
                    <i class="fa fa-certificate"></i>
                </div>
                <a href="{% url 'ProsPy:Reactorlista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>

    <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Informe de recapitulación mensual</font></font></h5>

              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-8">
                    <p class="text-center">
                      <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ventas: 1 de enero de 2014 - 30 de julio de 2014</font></font></strong>
                    </p>

                    <div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <!-- Sales Chart Canvas -->
                      <canvas id="salesChart" height="180" style="height: 180px; display: block; width: 676px;" width="676" class="chartjs-render-monitor"></canvas>
                    </div>
                    <!-- /.chart-responsive -->
                  </div>
                  <!-- /.col -->
                  <div class="col-md-4">
                    <p class="text-center">
                      <strong><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Consecución de objetivos</font></font></strong>
                    </p>

                    <div class="progress-group"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      Agregar productos al carrito
                      </font></font><span class="float-right"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">160</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> /200</font></font></span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-primary" style="width: 80%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->

                    <div class="progress-group"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      Compra completa
                      </font></font><span class="float-right"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">310</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> /400</font></font></span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-danger" style="width: 75%"></div>
                      </div>
                    </div>

                    <!-- /.progress-group -->
                    <div class="progress-group">
                      <span class="progress-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Visite la página premium</font></font></span>
                      <span class="float-right"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">480</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> /800</font></font></span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-success" style="width: 60%"></div>
                      </div>
                    </div>

                    <!-- /.progress-group -->
                    <div class="progress-group"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                      Enviar consultas
                      </font></font><span class="float-right"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">250</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> /500</font></font></span>
                      <div class="progress progress-sm">
                        <div class="progress-bar bg-warning" style="width: 50%"></div>
                      </div>
                    </div>
                    <!-- /.progress-group -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-success"><i class="fa fa-caret-up"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 17%</font></font></span>
                      <h5 class="description-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 35,210.43</font></font></h5>
                      <span class="description-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">LOS INGRESOS TOTALES</font></font></span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-warning"><i class="fa fa-caret-left"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 0%</font></font></span>
                      <h5 class="description-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 10,390.90</font></font></h5>
                      <span class="description-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">COSTE TOTAL</font></font></span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6">
                    <div class="description-block border-right">
                      <span class="description-percentage text-success"><i class="fa fa-caret-up"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 20%</font></font></span>
                      <h5 class="description-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">$ 24.813,53</font></font></h5>
                      <span class="description-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">BENEFICIO TOTAL</font></font></span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6">
                    <div class="description-block">
                      <span class="description-percentage text-danger"><i class="fa fa-caret-down"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 18%</font></font></span>
                      <h5 class="description-header"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">1200</font></font></h5>
                      <span class="description-text"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CUMPLIMIENTO DE METAS</font></font></span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>





{% endblock %}
 
  