{% extends "base.html" %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block extracss %}
    <script src="{% static 'Highcharts/highcharts.js' %}"></script>
    <script src="{% static 'Highcharts/modules/series-label.js' %}"></script>
    <script src="{% static 'Highcharts/modules/exporting.js' %}"></script>
    <script src="{% static 'Highcharts/modules/export-data.js' %}"></script>
    <script src="{% static 'Highcharts/modules/accessibility.js' %}"></script>


{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ usuarios }}<sup style="font-size: 20px"></sup></h3>
                    <p>Usuarios</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="{% url 'ProsPy:UsuarioLista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>{{ organismo }}</h3>
                    <p>Organismos</p>
                </div>
                <div class="icon">
                    <i class="fa fa-bug"></i>
                </div>
                <a href="{% url 'ProsPy:Organismolista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ tiporeact }}</h3>
                    <p>Tipo de Reactor</p>
                </div>
                <div class="icon">
                    <i class="fa fa-certificate"></i>
                </div>
                <a href="{% url 'ProsPy:TipoReactorlista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>{{ reactor }}</h3>
                    <p>Reactor</p>
                </div>
                <div class="icon">
                    <i class="fa fa-certificate"></i>
                </div>
                <a href="{% url 'ProsPy:Reactorlista' %}" class="small-box-footer"><font
                        style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">Más información </font></font><i
                        class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-md-9 card">
            <div id="grafica"></div>
        </div>
    </div>


    <script>

        var aux = [];
        {% if fecha %}
            {% for dat in fecha %}
                if ({{ tiempo }} === {{ dat.last_login|date:'m'}}) {
                    aux.push('{{ dat.last_login|date:'Y-m-d'}}')
                }
            {% endfor %}
        {% endif %}

        var Tiempo = [];
        var dato = [];
        var k = {};
        //push into hashtable
        for (i in aux) {
            k[aux[i]] = (k[aux[i]] || 0) + 1;
        }
        for (var j in k) {
            Tiempo.push(j)
            dato.push(k[j])
        }

        Highcharts.chart('grafica', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Visitas Por Mes'
            },
            xAxis: {
                categories: Tiempo,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Visitas'
                }
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Visitas',
                data: dato
            }],

        });

    </script>



{% endblock %}
 
  