{% extends "base.html" %}
{% load static %}

{% block title %}
    Inicio
{% endblock %}

{% block header %}
{% endblock %}

{% block extracss %}
    <script src="{% static 'Highcharts/highcharts.js' %}"></script>
    <script src="{% static 'Highcharts/modules/series-label.js' %}"></script>
    <script src="{% static 'Highcharts/modules/accessibility.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
            <div class="card direct-chat direct-chat-primary ">
                <div class="card-header">
                    <div class="user-block">
                        <span class="username"><a href="#"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;"> Ejercicios Prediccion Tiempo.</font></font></a></span>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="direct-chat-messages card-comments" style="max-height: 440px; height: auto">
                        {% if prediccion %}
                            {% for tiempo in prediccion %}
                                <div class="card-comment">
                                    <div class="comment-text">
                                    <span class="username"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">Titulo: {{ tiempo.titulo }}</font></font>
                                    </span>
                                        <p>
                                            <font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">
                                                {{ tiempo.descripcion }}
                                            </font></font>
                                        </p>
                                        <button type="button" class="btn btn-default btn-sm" id="{{ tiempo.id }}"
                                                onclick="procesotiempo({{ tiempo.tb }},{{ tiempo.x }},{{ tiempo.v }},{{ tiempo.umax }},{{ tiempo.so }},{{ tiempo.sf }}, {{ tiempo.y }},{{ tiempo.id }},'{{ tiempo.titulo }}')">
                                            <font
                                                    style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;"> Comparar</font></font></button>
                                        <button type="button" class="btn btn-default btn-sm" disabled="true"
                                                id="{{ tiempo.id }}a"
                                                onclick="activarti({{ tiempo.id }});">
                                            <font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">
                                                Cancelar</font></font></button>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            No hay datos
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.col -->
        <div class="col-md-7">
            <!-- Box Comment -->
            <div class="card card card-widget " id="card">
                <div class="card-header">
                    <!-- /.user-block -->

                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body" id="predicctiempo">
                </div>
                <!-- /.card-body -->
                <div class="card-body" id="dispercion">
                </div>
            </div>
            <!-- /.card -->
        </div>

    </div>

{% endblock %}
{% block extrajs %}
    <script src="{% static 'comparar.js' %}"></script>

{% endblock %}