{% extends "base.html" %}
{% load static %}

{% block title %}
    Inicio
{% endblock %}

{% block header %}
{% endblock %}

{% block extracss %}
    <script src="{% static 'Highcharts/highcharts.js' %}"></script>
    <script src="{% static 'Highcharts/modules/series-label.js' %}"></script>


    <script src="{% static 'Highcharts/modules/accessibility.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-5">
            <!-- Box Comment -->
            <div class="card card card-widget collapsed-card">
                <div class="card-header">
                    <div class="user-block">

                        <span class="username"><a href="#"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">Batch.</font></font></a></span>
                    </div>
                    <!-- /.user-block -->
                    <div class="card-tools">

                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <div class="card-footer card-comments">
                    {% if prediccion %}
                        {% for bac in batch %}
                            <div class="card-comment">
                                <div class="comment-text">
                                    <span class="username"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">Titulo: {{ bac.titulo }}</font></font>
                                    </span>
                                    <p>
                                        <font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;">
                                            {{ bac.descripcion }}
                                        </font></font>
                                    </p>
                                    <button type="button" class="btn btn-default btn-sm" id="{{ bac.id }}"
                                            onclick="proceso({{ bac.t }},{{ bac.vf }},{{ bac.v0 }},{{ bac.id }});">
                                        <font style="vertical-align: inherit;"><font
                                                style="vertical-align: inherit;"> Comparar</font></font></button>
                                    <button type="button" class="btn btn-default btn-sm" disabled="true"
                                            id="{{ bac.id }}a"
                                            onclick="activar({{ bac.id }});">
                                        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                                            Cancelar</font></font></button>

                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="card-comment">

                        <!-- /.comment-text -->
                    </div>
                    <!-- /.card-comment -->
                </div>
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->

        <div class="col-md-7">
            <!-- Box Comment -->
            <div class="card card card-widget " id="card">
                <div class="card-header">

                    <!-- /.user-block -->
                    <div class="card-tools">

                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <!-- /.card-tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="attachment-block clearfix" id="batch">

                    </div>

                </div>
                <!-- /.card-body -->

            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
    <div class="col-md-5">
        <!-- Box Comment -->
        <div class="card card card-widget collapsed-card">
            <div class="card-header">
                <div class="user-block">

                        <span class="username"><a href="#"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;">Batch.</font></font></a></span>
                </div>
                <!-- /.user-block -->
                <div class="card-tools">

                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <div class="card-footer card-comments">
                {% if prediccion %}
                    {% for tiempo in prediccion %}
                        <div class="card-comment">
                            <div class="comment-text">
                                    <span class="username"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">Titulo: {{ tiempo.titulo }}</font></font>
                                    </span>
                                <p>
                                    <font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">
                                        {{ tiempo.descripcion }}
                                    </font></font>
                                </p>
                                <button type="button" class="btn btn-default btn-sm" id="{{ tiempo.id }}"
                                        onclick="graficatiempo({{ tiempo.id }},{{ tiempo.tb }},{{ tiempo.x }},{{ tiempo.v }},{{ tiempo.umax }},{{ tiempo.so }},{{ tiempo.sf }},{{ tiempo.x }},{{ tiempo.y }})">
                                    <i
                                            class="fas fa-share"></i><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;"> Editar</font></font></button>
                                <button type="button" class="btn btn-default btn-sm"><i
                                        class="far fa-thumbs-up"></i><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;"> Eliminar</font></font></button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-comment">

                    <!-- /.comment-text -->
                </div>
                <!-- /.card-comment -->
            </div>
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-7" id="predicctiempo">

    </div>
{% endblock %}
{% block extrajs %}
    <script src="{% static 'comparar.js' %}"></script>

    <script>


    </script>


{% endblock %}