{% extends "base.html" %}
{% load static %}

{% block title %}
    Inicio
{% endblock %}

{% block header %}
{% endblock %}

{% block extracss %}
    <script src="{% static 'Highcharts/highcharts.js' %}"></script>
    <script src="{% static 'Highcharts/modules/series-label.js' %}"></script>
    <script src="{% static 'Highcharts/modules/accessibility.js' %}"></script>


    <script src="{% static 'Highcharts/modules/exporting.js' %}"></script>
    <script src="{% static 'Highcharts/modules/export-data.js' %}"></script>


{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-5">
            <div class="card direct-chat direct-chat-primary ">
                <div class="card-header">
                    <div class="user-block">
                        <span class="username"><a href="#"><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;"> Ejercicios Reactor Batch.</font></font></a></span>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="direct-chat-messages card-comments" style="max-height: 440px; height: auto">
                        {% if batch %}
                            {% for bac in batch %}
                                <div class="card-comment">
                                    <div class="comment-text">
                                    <span class="username">Titulo: <font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">{{ bac.titulo }}</font></font>
                                    </span>
                                        <p>
                                            <font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">
                                                {{ bac.descripcion }}
                                            </font></font>
                                        </p>
                                        <button type="button" class="btn btn-default btn-sm" id="{{ bac.id }}"
                                                onclick="proceso({{ bac.y }},{{ bac.ks }},{{ bac.umax }},{{ bac.ms }},{{ bac.f }},
                                                        {{ bac.t }},{{ bac.v0 }},{{ bac.v }},{{ bac.vf }},{{ bac.so }},{{ bac.n }},
                                                        {{ bac.x }},{{ bac.id }},'{{ bac.titulo }}','{{ bac.organismo }}');">
                                            <font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;"> Comparar</font></font>
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm" disabled="true"
                                                id="{{ bac.id }}a"
                                                onclick="activar({{ bac.id }});">
                                            <font style="vertical-align: inherit;"><font
                                                    style="vertical-align: inherit;">
                                                Cancelar</font></font></button>

                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            No hay datos
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
        <!-- /.col -->
        <div class="col-md-7">
            <!-- Box Comment -->
            <div class="card card card-widget " id="card">
                <div class="card-header">
                </div>
                <div class="card-body" id="batch">
                </div>
                <div class="card-body" id="dispercion">
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-lg">
                        Anova Simple
                    </button>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <div class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Anova</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="center">
                            <p>El objetivo de este programa es realizar ANOVA en varias muestras para determinar si
                                alguna de las muestras es significativamente diferente.</p>
                            <p class="left">Hipótesis nula: no hay diferencia estadísticamente significativa entre las
                                muestras.</p>
                            <p class="left">Hipótesis alternativa: Existe una diferencia estadísticamente significativa
                                entre las muestras.</p>
                        </div>
                        <div>
                            <table>
                                <thead>
                                <tr>
                                    <th>Grupo</th>
                                    <th>Cuenta</th>
                                    <th>Suma</th>
                                    <th>Promedio</th>
                                    <th>Varianza</th>

                                    <td class="blank"></td>
                                </tr>
                                </thead>
                                <tbody id="tablacolumnas">
                                </tbody>

                            </table>
                        </div>

                        <style>
                            table {
                                border-collapse: collapse;
                            }

                            td, th {
                                border: 1px solid #aaa;
                                padding: 3px;
                            }

                            td.blank {
                                background-color: #eee;
                                border: 0px;
                                height: 31px;
                            }

                            .center {
                                text-align: center;
                            }

                            th, .left {
                                text-align: center;
                            }

                            th {
                                background-color: #bbb;
                            }

                            td {
                                background-color: #fafafa;
                            }
                        </style>


                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
{% endblock %}
{% block extrajs %}

    <!-- Bootstrap 4 -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- DataTables  & Plugins -->
    <script src="{% static 'comparar.js' %}"></script>
    <script>
        {% if batch %}
            {% for bac in batch %}
                organismo({{ bac.id }}, '{{ bac.organismo }}')
            {% endfor %}
        {% endif %}

    </script>
{% endblock %}

