<html>
<head>
    <title>Example</title>
    <script type="text/javascript">

        $(document).ready(function grafica() {
            var tiempo = [];
            var densidad = [];
            if ($('#Tb').val() != 0) {
                tiempo.push(parseFloat(document.getElementById("cont1").innerText));
                tiempo.push(parseFloat(document.getElementById("cont2").innerText));
            }
            if ($('#Sf').val() != 0) {
                densidad.push(parseFloat(document.getElementById("cont5").innerText));
                densidad.push(parseFloat(document.getElementById("cont4").innerText));
            }
            if (tiempo.length != 0) {
                graf(densidad, tiempo);
            }
        })

        var chart1;

        function graf(datat, ti) {
            chart1 = new Highcharts.Chart({
                chart: {renderTo: 'predicc'},
                title: {
                    text: 'Reactor'
                },

                yAxis: {
                    title: {text: 'Densidad'}
                },

                xAxis: {
                    title: {text: 'Tiempo'}
                },
                series: [{
                    name: 'Densidad',
                    data: [ti, datat]
                }],
            });
        };
    </script>
    <!-- - -->
</head>
<body>
<div class="modal-dialog modal-xl">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Imprimir</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" id="impre">
            <div class="invoice p-3 mb-3">
                <!-- title row -->
                <div class="row">
                    <div class="col-12">
                        <h4>
                            <i class="fa fa-globe"></i><font style="vertical-align: inherit;"><font
                                style="vertical-align: inherit;"> ProsPy.
                        </font></font><small class="float-right"><font style="vertical-align: inherit;">Fecha :<span
                                id="id_fecha" style="color: #000000"></span></font></small>
                        </h4>
                    </div>
                    <!-- /.col -->
                </div>

                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8 table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">Nª.</font></font></th>
                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Variable</font></font>
                                </th>
                                <th><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">Dato</font></font></th>
                                <th><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">Unidad</font></font>
                                </th>
                                <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Descripcion
                                    parcial</font></font></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">1</font></font></td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">X</font></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><span
                                        id="id_x" style="color: #000000"></span> </font>
                                </td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">kg</font></font></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Concentracion
                                    de celulas</font></font></td>
                            </tr>
                            <tr>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">2</font></font></td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">V</font></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><span
                                        id="id_v" style="color: #000000"></span></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">m3</font></font></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Variacion
                                    de Volumen</font></font></td>
                            </tr>
                            <tr>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">3</font></font></td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">So</font></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><span
                                        id="id_so" style="color: #000000"></span></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">m3</font></font></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Concentracion
                                    de Sustrato de alimentacion</font></font></td>
                            </tr>
                            <tr>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">4</font></font></td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">Umax</font></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><span
                                        id="id_umax" style="color: #000000"></span></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">H-1</font></font></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Velocidad
                                    maxima de crecimiento</font></font></td>
                            </tr>
                            <tr>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">5</font></font></td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">Y(x/s)</font></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><span
                                        id="id_y" style="color: #000000"></span></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">Kg/Kg</font></font></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rendimiento
                                    de Biomasas</font></font></td>
                            </tr>
                            <tr>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">6</font></font></td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">Sf</font></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><span
                                        id="id_sf" style="color: #000000"></span></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">g/L</font></font></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Concentración
                                    de Sustrato del liquido dentro del biorreactor</font></font></td>
                            </tr>
                            <tr>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">7</font></font></td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">Tb</font></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><span
                                        id="id_tb" style="color: #000000"></span></font>
                                </td>
                                <td><font style="vertical-align: inherit;"><font
                                        style="vertical-align: inherit;">h</font></font></td>
                                <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiempo
                                    para alcanzar la face estacionaria</font></font></td>
                            </tr>


                            </tbody>
                        </table>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->

                <div class="row">
                    <!-- accepted payments column -->
                    <div class="col-6">
                        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Grafica</font></font>
                        </p>
                        <div id="predicc">
                        </div>
                    </div>
                    <!-- /.col -->
                    <div class="col-6">
                        <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Resultados</font></font>
                        </p>

                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <th style="width:50%"><font style="vertical-align: inherit;"><font
                                            style="vertical-align: inherit;">Tiempo face estacionaria:</font></font>
                                    </th>
                                    <td><font style="vertical-align: inherit;">
                                        <span
                                                id="id_1" style="color: #000000"></span>
                                    </font></td>
                                </tr>
                                <tr>
                                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Densidad
                                        celular final 100% :</font></font></th>
                                    <td><font style="vertical-align: inherit;"><span
                                            id="id_2" style="color: #000000"></span></font></td>
                                </tr>
                                <tr>
                                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tiempo
                                        face estacionaria consumo:</font></font>
                                    </th>
                                    <td><font style="vertical-align: inherit;"><span
                                            id="id_3" style="color: #000000"></span></font></td>
                                </tr>
                                <tr>
                                    <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Densidad
                                        celular consumo:</font></font>
                                    </th>
                                    <td><font style="vertical-align: inherit;"><span
                                            id="id_4" style="color: #000000"></span></font></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>

            </div>

        </div>
        <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" onclick="cerrar_modal_imprimir();">Close</button>
            <button type="button" class="btn btn-primary" onclick="PrintElem('impre');"><i class="fa fa-edit"></i>
                Imprimir
            </button>
        </div>
    </div>
    <!-- /.modal-content -->
</div>
</body>
</html>

<script>

    function PrintElem(elem) {
        var mywindow = window.open('', 'PRINT', 'height=800,width=1400');
        mywindow.document.write('<html><head><title>' + document.title + '</title>');
        mywindow.document.write('</head><body >');
        mywindow.document.write('<h1>' + document.title + '</h1>');
        mywindow.document.write(document.getElementById(elem).innerHTML);
        mywindow.document.write('</body></html>');
        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/
        mywindow.print();
        mywindow.close();
        return true;
    }

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }

</script>