{% extends "base.html" %}
{% load static %}

{% block title %}
    Inicio
{% endblock %}

{% block header %}
    <a href="{% url 'ProsPy:Inicio' %}" class="logo"
    ><b>Pros<span>PY</span></b></a>
{% endblock %}
{% block content %}
    <div class="row">

        <div class="col-md-4">
            <select name="tablas" id="tablas" class="form-control">

                <option value="Organismo" selected>Organismo</option>
                <option value="Reactor">Reactor</option>
                <option value="Ejercicios Batch">Ejercicios Batch</option>
            </select>
        </div>

        <div class="col-md-6">
            <div class="input-group mb-3">
                <input id="busqueda" list="listas" placeholder="Escriba o haga clic aquí"/>
                <div class="input-group-append">

                    <button type="submit" id="buscar" class="btn btn-block btn-outline-primary">Buscar</button>
                </div>
            </div>


            <datalist id="listas">
            </datalist>
        </div>
    </div>

    <div class="card card-solid" id="busca" style="display: none;">
        <div class="card-body pb-0">
            <div class="row" id="res">

            </div>
        </div>

    </div>

    <style>
        input {
            width: 450px;
            height: 30px;
            border: 2px solid #ccc;
            line-height: 40px;
            font-size: 16px;
            color: #333;
            padding: 5px;
            display: block;
            height: calc(2.25rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            box-shadow: inset 0 0 0 transparent;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }

        input:focus {
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
            border-color: rgb(102, 175, 233);
        }
    </style>
{% endblock %}
{% block extrajs %}
    <script>

        $(function () {
            $('select[name="tablas"]').on('change', function () {
                var id = $(this).val();
                var select_batch = $('datalist[id="listas"]');
                document.getElementById("busqueda").value = "";
                var options = '<option value="">------------</option>';
                if (id === 'Organismo') {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'search_organismos',
                        },
                        dataType: 'json',
                        success: function (data) {
                            $.each(data, function (key, value) {
                                options += '<option value="' + value.nombre + '"></option>';
                            });
                            select_batch.html(options);
                            return false;
                        },
                        error: function (error) {
                        }
                    });
                }
                if (id === 'Reactor') {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'search_reactor',
                        },
                        dataType: 'json',
                        success: function (data) {
                            $.each(data, function (key, value) {
                                options += '<option value="' + value.modelo + '"></option>';
                            });
                            select_batch.html(options);
                            return false;
                        },
                        error: function (error) {
                        }
                    });
                }
                if (id === 'Ejercicios Batch') {
                    $.ajax({
                        url: window.location.pathname,
                        type: 'POST',
                        data: {
                            'action': 'search_batch',
                        },
                        dataType: 'json',
                        success: function (data) {
                            $.each(data, function (key, value) {
                                options += '<option value="' + value.titulo + '"></option>';
                            });
                            select_batch.html(options);
                            return false;
                        },
                        error: function (error) {
                        }
                    });
                }
            });
        });


        document.getElementById("buscar").onclick = function (e) {
            document.getElementById('busca').style.display = 'none';
            var consulta = $("#busqueda").val();
            consulta = $("#busqueda").val();
            if ($('#tablas').val() === 'Organismo') {
                $.ajax({
                    url: "/ProsPy/busqueda/",
                    type: 'get',
                    data: {
                        'action': 'organismo',
                        'nombre': consulta,
                    },
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById('busca').style.display = 'block';
                        let res = document.querySelector('#res')
                        res.innerHTML = '';
                        for (let item of data) {
                            res.innerHTML += `

<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                  Organismo
                </font></font></div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">${item.nombrecientifico}</font></font></b></h2>
                      <p class="text-muted text-sm"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Genero:</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ${item.genero}</font></font></p>

                    </div>

                  </div>
                </div>
              </div>
            </div>
                            `
                        }
                    }, error: function (error) {
                           console.log(error);
                    }
                });
            }
            if ($('#tablas').val() === 'Reactor') {
                $.ajax({
                    url: "/ProsPy/busqueda/",
                    type: 'get',
                    data: {
                        'action': 'reactor',
                        'nombre': consulta,
                    },
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById('busca').style.display = 'block';
                        let res = document.querySelector('#res')
                        res.innerHTML = '';
                        for (let item of data) {
                            res.innerHTML += `<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                  Reactor
                </font></font></div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">${item.modelo}</font></font></b></h2>
                      <p class="text-muted text-sm"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Especificacion: </font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ${item.especificaciontecnica}</font></font></p>
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fa fa-lg fa-building"></i></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Marca: ${item.marca}</font></font></li>
                      </ul>
                    </div>
                    <div class="col-5 text-center">
                      <img src="/media/${item.foto1}" alt="avatar de usuario" class="img-circle img-fluid" style="max-width: 114px; max-height: 114px">
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="#" class="btn btn-sm btn-primary">
                      <i class="fa fa-user"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ver perfil
                    </font></font></a>
                  </div>
                </div>
              </div>
            </div>`

                        }
                    }, error: function (error) {

                    }

                });

            }
            if ($('#tablas').val() === 'Ejercicios Batch') {
                $.ajax({
                    url: "/ProsPy/busqueda/",
                    type: 'get',
                    data: {
                        'action': 'batch',
                        'nombre': consulta,
                    },
                    dataType: 'json',
                    success: function (data) {
                        document.getElementById('busca').style.display = 'block';
                        let res = document.querySelector('#res')
                        res.innerHTML = '';
                        for (let item of data) {
                            res.innerHTML += `<div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
              <div class="card bg-light d-flex flex-fill">
                <div class="card-header text-muted border-bottom-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
                  Ejercicio Batch
                </font></font></div>
                <div class="card-body pt-0">
                  <div class="row">
                    <div class="col-7">
                      <h2 class="lead"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">${item.titulo}</font></font></b></h2>
                      <p class="text-muted text-sm"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Descripcion: </font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> ${item.descripcion}</font></font></p>

                    </div>
                    <div class="col-5  ">
                      <ul class="ml-4 mb-0 fa-ul text-muted">
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> Y(x/s):${item.y} </li>
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> Ks:${item.ks} </li>
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> Umax: ${item.umax} </li>
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> Ms: ${item.ms} </li>
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> F: ${item.f} </li>
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> T: ${item.t} </li>
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> V0: ${item.v0} </li>
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> V: ${item.v} </li>
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> Vf: ${item.vf} </li>
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> So: ${item.so} </li>
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> N: ${item.n} </li>
                        <li class="small"><span class="fa-li"><i class="fa fa-dot-circle-o"></i></span> X: ${item.x} </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <div class="text-right">
                    <a href="#" class="btn btn-sm btn-primary">
                      <i class="fa fa-user"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Ver perfil
                    </font></font></a>
                  </div>
                </div>
              </div>
            </div>`

                        }
                    }, error: function (error) {

                    }
                });

            }
        }


    </script>

{% endblock %}